<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 작성</title>
    <!-- Bootstrap CSS 추가 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<!-- 네비게이션 바 -->
<div th:replace="~{navi :: navi}"></div>

<div class="container my-5">
    <h2>게시글 작성</h2>
    <!-- 게시글 작성 폼 -->
    <form action="/posts" method="post" enctype="multipart/form-data" th:object="${postCreateDto}">
        <div class="mb-3">
            <label for="title" class="form-label">제목</label>
            <input type="text" class="form-control" th:field="*{title}" required>
        </div>
        <div class="alert alert-danger" th:errors="*{title}"></div>
        <div class="mb-3">
            <label for="content" class="form-label">내용</label>
            <textarea class="form-control" th:field="*{content}" rows="5" required></textarea>
        </div>
        <div class="alert alert-danger" th:errors="*{content}"></div>
        
        <!-- 파일 업로드 필드 -->
        <div class="mb-3">
        	<label for="file" class="form-label">파일 첨부</label>
        	<input type="file" class="form-control" id="file" name="file">
        </div>
        
        <button type="submit" class="btn btn-primary">글쓰기</button>
    </form>
</div>

<!-- Bootstrap JS 및 의존성 스크립트 추가 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
