<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 수정</title>
    <!-- Bootstrap CSS 추가 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <!-- 네비게이션 바 -->
    <div th:replace="~{navi :: navi}"></div>

    <div class="container my-5">
        <h2>게시글 수정</h2>
        <!-- 게시글 작성 폼 -->
        <form th:action="@{/posts/edit/{postId}(postId=${postUpdateDto.id})}" method="post" th:object="${postUpdateDto}">
            <div class="mb-3">
                <label for="title" class="form-label">제목</label>

                <input type="text" class="form-control" th:field="*{title}" th:value="*{title}" required>
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">내용</label>

                <textarea class="form-control" th:field="*{content}" rows="5" required>
            	[[*{content}]]
            </textarea>

            </div>

            <button type="submit" class="btn btn-primary">수정하기</button>
        </form>
    </div>

    <!-- Bootstrap JS 및 의존성 스크립트 추가 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>