<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <!-- Bootstrap CSS 추가 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script>
    	function formCheck() {
    		const username = document.getElementById('username').value;
    		// 아이디는 4자리 이상 20자리 이하여야 한다.
    		console.log(username);
    		if (username.length < 4 || username.length > 20) {
    			alert('아이디는 4자리 이상 20자리 이하여야 합니다.');
    			return false;
    		}
    		
    	}
    </script>
</head>
<body>
<!-- 네비게이션 바 -->
<div th:replace="~{navi :: navi}"></div>

<div class="container my-5">
    <h2>회원가입</h2>

    <!-- 회원가입 폼 -->
    <form action="/users/register" method="post" th:object="${userCreateDto}">
        <!-- 유효성 검사 메시지를 표시할 영역 -->
        <th:block th:if="${#fields.hasGlobalErrors()}">
        	<div id="validationMessages" th:each="err : ${#fields.globalErrors()}"
        	th:text="${err}" class="alert alert-danger"></div>
        </th:block>
		
        <div class="mb-3">
            <label for="username" class="form-label">아이디</label>
            <input type="text" class="form-control" th:field="*{username}" required>
        </div>
        <div class="alert alert-danger" th:errors=*{username}></div>
        <div class="mb-3">
            <label for="password" class="form-label">비밀번호</label>
            <input type="password" class="form-control" th:field="*{password}" required>
        </div>
        <div class="alert alert-danger" th:errors=*{password}></div>
        <div class="mb-3">
            <label for="name" class="form-label">이름</label>
            <input type="text" class="form-control" th:field="*{name}" required>
        </div>
        <div class="alert alert-danger" th:errors=*{name}></div>
        <div class="mb-3">
            <label for="gender" class="form-label">성별</label>
            <select class="form-select" th:field=*{gender} required>
                <option value="">-선택-</option>
                <th:block th:each="gender : ${T(com.example.post.model.users.GenderType).values()}">
                	<option th:value="${gender}" th:text="${gender.description}"></option>
                </th:block>
            </select>
        </div>
        <div class="alert alert-danger" th:errors=*{gender}></div>
        <div class="mb-3">
            <label for="birthDate" class="form-label">생년월일</label>
            <input type="date" class="form-control" th:field="*{birthDate}" required>
        </div>
        <div class="alert alert-danger" th:errors=*{birthDate}></div>
        <div class="mb-3">
            <label for="email" class="form-label">이메일</label>
            <input type="email" class="form-control" th:field="*{email}" required>
        </div>
        <div class="alert alert-danger" th:errors=*{email}></div>
        <button type="submit" class="btn btn-primary">가입하기</button>
    </form>
</div>

<!-- Bootstrap JS 및 의존성 스크립트 추가 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
